* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
canvas {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  cursor: cell;
}

.sound-control {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.sound-control .btn {
  display: none;
  cursor: pointer;
}

.sound-control .btn.active {
  display: block;
}

.sound-control svg {
  fill: white;
  opacity: 0.5;
}

.sound-control svg:hover {
  opacity: 1;
}
