* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  cursor: cell;
}

.sound-control {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 1;
}

.play-pause {
  position: fixed;
  top: 60px;
  right: 18px;
  width: 33px;
  height: 33px;
  z-index: 1;
}

.sound-control .btn, .play-pause .btn {
  display: none;
  cursor: pointer;
}

.sound-control .btn.active, .play-pause .btn.active {
  display: block;
}

.sound-control svg, .play-pause svg {
  fill: white;
  opacity: 0.5;
}

.sound-control svg:hover, .play-pause svg:hover {
  opacity: 1;
}
